body {
    background-color: black;
    text-align: center;
    align-content: center;
}

.body-text {
    color: coral;
    width: 50%;
    align-content: center;
    margin: auto;
}

p {
    color: aqua;
}

.track-name {
    text-align: center;
    color: aqua;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.step-forward {
    align-content: center;
}

.episode {
    align-content: center;
    color: orange
}

.tagline {
    align-content: center;
    color: azure
}

.TODO {
    color: red;
}

/*---------------------- Naomi ----------------------*/

.naomi-thoughts {
    color: teal
}

/*---------------------- Kai ----------------------*/

.kai-thoughts {
    color: seagreen
}

.kai-dialogue {
    color: green
}

/*---------------------- syaksa ----------------------*/

.emissary-dialogue {
    color: purple
}

/*--------------------- dom -------------------------*/

#tff-tag {
    animation:
        typing 14s steps(18, end),
}

.typewriter p {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid cyan;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation:
        typing 14s steps(78, end),
        blink-caret .75s step-end infinite;
}

.tagline h3 {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid cyan;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation:
        typing 14s steps(78, end),
        blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: teal;
    }
}