<!DOCTYPE html>
<html>

<head>
    <script src="/htmx/htmx.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../syaksa.css" />
</head>

<body class="flood-basalt">
    <!-- <button class="navbutton">Home</button> -->
    <div class="container nav-container">
        <!-- Site navigation.  -->
        <div class="navbar narrative-nav">
            <a class="navlink" href="../../helix-corp.html">Home</a>
            <a class="navlink" href="../syaksa.html">Syaksa</a>
            <a class="navlink">Updates</a>
            <a class="navlink" href="nav/purpose.html">Purpose</a>
            <a class="navlink">Downloads</a>
            <a class="navlink">Links</a>
        </div>
    </div>

    <h1 class="track-name">Flood Basalt</h1>
    <h2 class="episode">Geologic Reset</h2>
    <div class="content-container">
        <!-- Audio player -->
        <audio id="audioPlayer" controls>
            <source src="../../audio/mp3/isydia/01 Flood Basalt.mp3" type="audio/mp3">
            Your browser does not support the audio element.
        </audio>
        <div class="body-text basalt-text">

            ...they come in waves, each subsequent eruption spreading further than the last until continents are
            reshaped; buried under unceasing lava flows.
            <br>
            <br>

            Time cares not about what or who brings about change; those forces will inevitably fall out of living, and
            forgotten memory. Time marches on ceaselessly. It is in the nature of things to be forgotten, as something
            must have been to leave a wake through the stream.

            <br>
            <br>

            But the water has moved on...
            <br>
            <br>

            <!-- <a class="step-forward" href="02_outer-horizons.html">Alea Iacta Est</a> -->
        </div>
    </div>
</body>
<footer>
    <div class="naomi-thoughts">"...and so the floods came..."</div>
</footer>

</html>